4_Assignment_Node-RED_Flow
[
    {
        "id": "450377327aec2421",
        "type": "tab",
        "label": "Assignment Cloud Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96e2556d10ccbbed",
        "type": "mqtt-broker",
        "name": "Local Host",
        "broker": "10.222.1.183",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "189ba0897b95beb2",
        "type": "mqtt-broker",
        "name": "host.docker.internal ",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a88a8f70c529d6dd",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "1c6107c96f94fb48",
        "type": "mqtt-broker",
        "name": "EMQX Cloud Console",
        "broker": "v6612156.ala.asia-southeast1.emqxsl.com",
        "port": "8883",
        "tls": "a88a8f70c529d6dd",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "90b19e83c98f95c7",
        "type": "mongodb4-client",
        "name": "MongoDB Docker",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "smart_campus",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://host.docker.internal:27017/smart_campus?directConnection=true",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "c405af481e99aed4",
        "type": "mongodb4-client",
        "name": "MongoDB Atlas",
        "protocol": "mongodb+srv",
        "hostname": "",
        "port": "",
        "dbName": "utem-iot-assignment",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://<username>:<password>@utem-iot-cluster.zufny2g.mongodb.net/?appName=utem-iot-cluster",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "179623ae4ff61c92",
        "type": "mongodb4-client",
        "name": "MongoDB",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "smart_campus",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://<username>:<password>@cluster0.igewsxq.mongodb.net/?appName=Cluster0",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "0260f9ce754bb88a",
        "type": "tls-config",
        "name": "",
        "certType": "files",
        "cert": "",
        "key": "",
        "p12": "",
        "p12name": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": "",
        "certEnv": "",
        "keyEnv": "",
        "caEnv": ""
    },
    {
        "id": "e4e05a9f3362130b",
        "type": "mqtt-broker",
        "name": "",
        "broker": " v6612156.ala.asia-southeast1.emqxsl.com",
        "port": "8883",
        "tls": "0260f9ce754bb88a",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ccdc9e063a08b154",
        "type": "mqtt out",
        "z": "450377327aec2421",
        "name": "",
        "topic": "iot/sensor/config",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1c6107c96f94fb48",
        "x": 360,
        "y": 300,
        "wires": []
    },
    {
        "id": "575cc98e6354fa7c",
        "type": "http in",
        "z": "450377327aec2421",
        "name": "",
        "url": "/iot/sensor/config",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "ccdc9e063a08b154",
                "756954cfed2adff9"
            ]
        ]
    },
    {
        "id": "cdff6be2bbed29ee",
        "type": "mongodb4",
        "z": "450377327aec2421",
        "clientNode": "c405af481e99aed4",
        "mode": "collection",
        "collection": "sensor_data",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 820,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2cbc1cebf387e0cf",
        "type": "mqtt in",
        "z": "450377327aec2421",
        "name": "Verification Identity",
        "topic": "iot/sensor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1c6107c96f94fb48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "abcb38cb5361dbe8"
            ]
        ]
    },
    {
        "id": "abcb38cb5361dbe8",
        "type": "function",
        "z": "450377327aec2421",
        "name": "Function 1",
        "func": "var raw_data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n\nflow.set(\"temp_sensor_data\", raw_data);\n\nmsg.payload = { \n    \"device_id\": raw_data.device_id \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 60,
        "wires": [
            [
                "1680a998107775fe"
            ]
        ]
    },
    {
        "id": "1680a998107775fe",
        "type": "mongodb4",
        "z": "450377327aec2421",
        "clientNode": "c405af481e99aed4",
        "mode": "collection",
        "collection": "device_metadata",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 490,
        "y": 60,
        "wires": [
            [
                "3e32df692258352c"
            ]
        ]
    },
    {
        "id": "3e32df692258352c",
        "type": "function",
        "z": "450377327aec2421",
        "name": "Function 2",
        "func": "var raw_data = flow.get(\"temp_sensor_data\");\n\nif (!raw_data) {\n    node.error(\"Empty data!\");\n    return null;\n}\n\nif (msg.payload && Array.isArray(msg.payload) && msg.payload.length > 0) {\n    \n    var myTimeStr = new Date().toLocaleString(\"en-MY\", { \n        timeZone: \"Asia/Kuala_Lumpur\",\n        hour12: false \n    });\n\n    var ts_document = {\n        \"timestamp\": new Date(),\n        \"local_time\": myTimeStr,\n        \"device_id\": raw_data.device_id, \n        \"temperature\": raw_data.temperature,\n        \"humidity\": raw_data.humidity,\n        \"smoke\": raw_data.smoke,\n        \"smoke_raw\": raw_data.smoke_raw\n    };\n\n    flow.set(\"temp_sensor_data\", null);\n\n    msg.payload = ts_document;\n    return msg; \n    \n} else {\n    node.warn(\"Without Identification!\");\n    flow.set(\"temp_sensor_data\", null);\n    return null; \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 60,
        "wires": [
            [
                "cdff6be2bbed29ee"
            ]
        ]
    },
    {
        "id": "756954cfed2adff9",
        "type": "http response",
        "z": "450377327aec2421",
        "name": "Response (200)",
        "statusCode": "200",
        "headers": {},
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "64a3e779f6bf5eac",
        "type": "http in",
        "z": "450377327aec2421",
        "name": "",
        "url": "/iot/sensor/register",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "5267b2ab52487cf9"
            ]
        ]
    },
    {
        "id": "c4873f149a85d330",
        "type": "http response",
        "z": "450377327aec2421",
        "name": "Response (200)",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "5267b2ab52487cf9",
        "type": "mongodb4",
        "z": "450377327aec2421",
        "clientNode": "c405af481e99aed4",
        "mode": "collection",
        "collection": "device_metadata",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "c4873f149a85d330"
            ]
        ]
    },
    {
        "id": "83aa3a65bf5d0a85",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.4.0"
        }
    }
]
